.App {
  background-color: #282c34;
  color: white;
  padding: 10px;
}

.Main {
  background-color: #282c34;
  color: white;
  padding: 10px;
  min-height: 100vh;
  height: auto;
  width: calc(100% - 20px);
}
